.LeftPanel {
    display: inline-block;
    width: 250px;
}

.CategoryUl {
    list-style: none;
}

.CategoryLi {
    text-decoration: none;
    margin-bottom: 10px;
}

.CategoryA {
    color: dimgray;
}